<ul id="pap_action_<%= pap_action.id %>">
     <ul class="col-1">
          <li><%= pap_action.priority %></li>
     </ul>
     <ul class="col-2">
          <li>"<%= pap_action.action_statement %>"</li>
          <li><%= pap_action.acting_person_title %>: <%= pap_action.acting_person %></li>
          <li>Description: <%= pap_action.description %></li>
          <li>Position: <%= pap_action.position %></li>
          <li>State of action: <%= pap_action.state_of_action %></li>
     </ul>
</ul>

          <li><%= link_to 'Edit', edit_project_pap_action_path(@project, pap_action), remote: true   %> | 
          <%= link_to 'Destroy', [@project, pap_action], method: :delete, data: { confirm: 'Are you sure?' }, remote: true   %></li>

         
         
         
         
         
         
         
         
         
         
