<td class="pap_action_priority vert-middle">
  <div class="pap_action_priority_box"><%= pap_action.priority %></div>
</td>

<td class="pap_action_toggle">
  <div class="pap_action_panel">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading_<%= pap_action.id %>">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsed_<%= pap_action.id %>" aria-expanded="false" aria-controls="collapsed_<%= pap_action.id %>">
            <%= pap_action.action_statement %>
          </a>
        </h4>
      </div>

      <div id="collapsed_<%= pap_action.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_<%= pap_action.id %>">
        <div class="panel-body">
        <div class="pap_action_edit_delete">
          <%= link_to 'Edit', edit_project_pap_action_path(@project, pap_action), remote: true   %> | 
          <%= link_to 'Delete', [@project, pap_action], method: :delete, data: { confirm: 'Are you sure?' }, remote: true   %>
        </div>
        <p class="check_box_state_of_action">Action Preparations: <b><%= pap_action.state_of_action %></b></p>
        <p><%= pap_action.acting_person_title %> <%= pap_action.acting_person %></p>
        <p><%= pap_action.description %></p>
          
        </div>
      </div>
    </div>
  </div>

  <td class="pap_action_position vert-bottom"><%= pap_action.position %></td>
</td>





