<h1>Listing pap_actions</h1>

<table>
  <tr>
    <th>Acting person title</th>
    <th>Acting person</th>
    <th>Action statement</th>
    <th>Description</th>
    <th>Priority</th>
    <th>Position</th>
    <th>State of action</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pap_actions.each do |pap_action| %>
  <tr>
    <td><%= pap_action.acting_person_title %></td>
    <td><%= pap_action.acting_person %></td>
    <td><%= pap_action.action_statement %></td>
    <td><%= pap_action.description %></td>
    <td><%= pap_action.priority %></td>
    <td><%= pap_action.position %></td>
    <td><%= pap_action.state_of_action %></td>
    <td><%= link_to 'Show', [@project, pap_action] %></td>
    <!-- action was default to index, writing this is the same as SAME AS #=>  link_to 'Show', project_pap_action_path(@project, pap_action) -->
    <td><%= link_to 'Edit', edit_project_pap_action_path(@project, pap_action) %></td>
    <td><%= link_to 'Destroy', [@project, pap_action], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pap action', new_project_pap_action_path %>
