<div class="row">
  <div class="col-md-3">
    <%= render 'form' %>
  </div>
  <div class="col-md-9">

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <table class="table">
        <thead>
          <h1 id="headline_<%= @project.id %>" class="table_headline_and_create"><%= @project.project_name %></h1>
        <p>
          <%= link_to 'Update Name', edit_project_path(@project), remote: true %> |
          <%= link_to 'Back (All Projects)', projects_path %>
        </p>
      </thead>
        <tbody id="pap_action_table_sortable" data-sort-url="<%= sort_project_pap_actions_path %>">
          <% @pap_actions.each do |pap_action| %>
          <tr id="pap_action_<%= pap_action.id %>" class="pap_action_tr">
            <%= render partial: "pap_action_table", locals: {pap_action: pap_action} %>
          </tr><!-- id="pap_action_<%= pap_action.id %>" -->
          <% end %>
        </tbody>
      </table><!-- div id="pap_action_ul_sortable" -->
    </div><!-- class="panel-group"  -->

  </div><!-- div class="col-md-9" -->
</div>
