<!DOCTYPE html>
<html>
<head>
  <title>PapOnRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navbar' %>

  <!-- TODO: replace devise flash with custom flash hash -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

  <%= render 'layouts/footer' %>
</body>
</html>
